@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #344f1f;
  --secondary-color: #f4991a;
  --background-color: #f9f5f0;
  --container-color: #f2ead3;
  --text-white-color: #ffffff;
  --text-black-color: #000000;
  --secondary-shadow-color: rgba(255, 167, 38, 0.3);
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-500: #9ca3af;
  --color-gray-700: #374151;
  --color-gray-900: #111827;
  --font-family: 'Oswald', 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-black-color);
}
